/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1, h2 {
  font-size: 2.3rem;
  color: rgb(250,250,250);
}

h3 {
  font-size: 2rem;
  color: rgb(250,250,250);
}

h4 {
  font-size: 1.5rem;
}

.App-header {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.main-body {
  min-height: 100vh;
  width: 900px;
  background-color: teal;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.favorites-sidebar {
  min-height: 100vh;
  background-color: rgb(130,130,132);
  width: 100%;
}

.active-todos-container {
  min-height: 50vh;
  margin: 5%;
  width: 800px;
  background-color: rgb(50,200,180);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.generator-button {
  margin: 0 0 5% 0;
}

.saved-todo {
  background-color: lightgray;
  width: 80%;
  min-height: 100px;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorited {
  background-color: yellow;
}

.checked {
  background-color: blue;
}

div, button {
  border-radius: 6px;
}

button {
  max-width: 100px;
}

a {
  height: 1rem;
}

p {
  line-height: 1.2rem;
  height: 1.2rem;
}

.active-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  margin: 2%;
}

span {
  margin: 5% 0 5% 5%;
}
