.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.main-body {
  min-height: 100vh;
  width: 70%;
  background-color: teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.favorites-sidebar {
  min-height: 100vh;
  background-color: pink;
  width: 30%;
}

.active-todos-container {
  height: 80%;
  margin: 5%;
  width: 90%;
  background-color: rgb(50,200,180);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.generator-button {
  margin: 0 0 5% 0;
}

.saved-todo {
  background-color: lightgray;
  width: 80%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
